[submodule "StockWhiz-web"]
	path = StockWhiz-web
	url = .\\StockWhiz-web\\
[submodule "pyodide"]
	path = pyodide
	url = .\\pyodide\\
[submodule "jupyterlite"]
	path = jupyterlite
	url = .\\jupyterlite\\
