[submodule "StockWhiz-web"]
	path = StockWhiz-web
	url = https://github.com/savakarrohan/StockWhiz-web.git
[submodule "pyodide"]
	path = pyodide
	url = https://github.com/savakarrohan/pyodide.git
[submodule "jupyterlite"]
	path = jupyterlite
	url = https://github.com/savakarrohan/jupyterlite.git
[submodule "exampleFiles"]
	path = exampleFiles
	url = https://github.com/savakarrohan/exampleFiles.git
[submodule "jupyter-packages"]
	path = jupyter-packages
	url = .\\jupyter-packages\\
[submodule "python-packages"]
	path = python-packages
	url = .\\python-packages\\
